:root {
  --gray950: #09090b;
  --gray900: #18181b;
  --gray800: #27272a;
  --gray700: #3f3f46;
  --gray600: #52525b;
  --gray500: #71717a;
  --gray400: #a1a1aa;
  --gray300: #d4d4d8;
  --gray200: #e4e4e7;
  --gray100: #f4f4f5;
  --gray50: #fafafa;
  --orange950: #561d09;
  --orange900: #6e250c;
  --orange800: #933110;
  --orange700: #b83e14;
  --orange600: #d8421a;
  --orange500: #f64422;
  --orange400: #f75c3c;
  --orange300: #f9795d;
  --orange200: #fba28e;
  --orange100: #fdcbbf;
  --orange50: #fee9e1;
}
