:root {
    --gray950: #09090B;
    --gray900: #18181B;
    --gray800: #27272A;
    --gray700: #3F3F46;
    --gray600: #52525B;
    --gray500: #71717A;
    --gray400: #A1A1AA;
    --gray300: #D4D4D8;
    --gray200: #E4E4E7;
    --gray100: #F4F4F5;
    --gray50: #FAFAFA;
    --orange950: #561D09;
    --orange900: #6E250C;
    --orange800: #933110;
    --orange700: #B83E14;
    --orange600: #D8421A;
    --orange500: #F64422;
    --orange400: #F75C3C;
    --orange300: #F9795D;
    --orange200: #FBA28E;
    --orange100: #FDCBBF;
    --orange50: #FEE9E1;
}